@import '../global/global-variables.scss';

$text-font-style: $global-font-family-primary;
$text-color-primary: $global-font-color-primary;
$text-color-muted: $global-font-color-muted;
$text-color-secondary: $global-font-color-secondary;

.heading {
  font-style: $text-font-style;
  &-one {
    font-size: 18px;
    font-weight: bold;
  }
  &-two {
    font-size: 14px;
    font-weight: bold;
  }
  &-three {
    font-size: 12px;
    font-weight: 300;
  }
}
