@import '../../global/global-variables.scss';

$h4-font-family: $global-font-family-primary;
$h4-font-weight: $global-font-weight-500;
$h4-font-size: $global-font-size-300;
$h4-color: $global-font-color-primary;
$h4-line-height: 17px;
$h4-margin-bottom: $global-gutter-300;

.heading-four {
  color: $h4-color;
  font-family: $h4-font-family;
  font-size: $h4-font-size;
  font-weight: $h4-font-weight;
  line-height: $h4-line-height;
  margin-bottom: $h4-margin-bottom;
}
