@import '../global';

$button-font: $global-font-family-primary;
$button-disabled-background-color: $global-color-disabled;
$button-disabled-text-color: $global-color-shade-three;
$button-disabled-border-color: $global-color-disabled;
$button-primary-text-color: $global-color-shade-one;
$button-primary-background-color: $global-color-primary;
$button-primary-border-color: $global-color-primary;
$button-primary-hover-background-color: $global-color-primary-dark;
$button-secondary-text-color: $global-color-primary;
$button-secondary-hover-background-color: $global-color-primary-muted;
$button-secondary-hover-border-color: $global-color-primary-muted;
$button-secondary-hover-text-color: $global-color-shade-two;
$button-negative-border-color: $global-color-negative;
$button-negative-text-color: $global-color-negative;
$button-negative-hover-border-color: $global-color-negative;
$button-negative-hover-background-color: $global-color-negative-muted;

.button {
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  font-family: $button-font;
  text-decoration: none;
  cursor: pointer;

  &:disabled {
    background-color: $button-disabled-background-color;
    color: $button-disabled-text-color;
    border-color: $button-disabled-border-color;
    cursor: not-allowed;
  }
  &--primary {
    color: $button-primary-text-color;
    background-color: $button-primary-background-color;
    border-color: $button-primary-text-color;
    &:hover:not([disabled]) {
      background-color: $button-primary-hover-background-color;
      color: $button-primary-text-color;
    }
  }

  &--secondary {
    border-color: $button-primary-border-color;
    color: $button-secondary-text-color;
    &:hover:not([disabled]) {
      background-color: $button-secondary-hover-background-color;
      color: $button-secondary-hover-text-color;
      border-color: $button-secondary-hover-border-color;
    }
  }

  &--default {
    padding: 10px 14px;
    border-radius: 50px;
    width: 100%;
    height: 40px;
  }

  &--negative {
    border-color: $button-negative-border-color;
    color: $button-negative-text-color;

    &:hover:not([disabled]) {
      background-color: $button-negative-hover-background-color;
      border-color: $button-negative-hover-border-color;
    }
  }

  &--round {
    border-radius: 50%;

    &--small {
      height: 30px;
      width: 30px;
    }

    &--medium {
      height: 52px;
      width: 52px;
    }

    &--large {
      height: 70px;
      width: 70px;
    }
  }
}
