$global-font-family-primary: 'Mada', sans-serif;

$global-color-primary: #2d9cdb;
$global-color-primary-dark: #2e6bbd;
$global-color-disabled: #ebebeb;
$global-color-negative: #f92c53;
$global-color-negative-muted: #fb8098;
$global-color-primary-muted: #81c4ec;
$global-color-shade-one: #ffffff;
$global-color-shade-two: #4a4a49;
$global-color-shade-three: #818181;
